# Example to change the logo
# https://groups.google.com/forum/#!msg/repo-discuss/tgvmGhfFcgU/59wQbo_VAQAJ

<dom-module id="ssi-logo">
  <script>
    Gerrit.install(plugin => {
      const domHook = plugin.hook('header-title', {replace: true});
      domHook.onAttached(element => {
        var i = document.createElement("img");
        i.src = "/static/gerrit.png";
        i.height = 32;
        i.align = "top";
        element.appendChild(i);
      });
    });
  </script>
</dom-module>
